.mock-table {
    width: 60%;
    text-align: center;
    align-items: center;
    border-collapse: collapse;
}

.mock-table th,
.mock-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
   
}

.mock-table th {
    background-color: #f2f2f2;
   
}

.mock-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.mock-table tr:hover {
    background-color: #eaeaea;
    
}

#mock{
    display: flex;
    justify-content: center;
    
}

.mock-table tr{
    margin-top: 20px;
}


.menu {
    display: inline-block;
  }
  
  .menu-item {
    display: inline-block;
    padding: 10px;
    background-color: #ccc;
    cursor: pointer;
    position: relative;
  }
  
  .submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 10px;
    top: 100%;
    left: 0;
  }
  
  .menu-item:hover .submenu {
    display: block;
  }